{% extends "base.html" %} {% block content %}

<div class="container">
  <div
    class="jumbotron"
    style="
      background-color: #f7f7f7;
      border-style: solid;
      border-color: #cac9c9;
      border-width: 1px;
    "
  >
    <h1 class="display-4" style="font-size: 4vw">
      <strong> <i class="icon-th-list"></i> Datenauswertung</strong>
    </h1>
    <p class="lead">
      Wieviel Produkte werden analysiert? Wurden Produkte im Vergleich zu
      gestern teurer oder billiger? <br />Verschaff dir einen Überblick über
      tagseaktuelle Trends.
    </p>
  </div>

  <div class="card mt-4">
    <div class="card-header bg-warning">
      <h5>Zusammenfassung</h5>
    </div>
    <div class="card-body">
      <p>Letzter Datenabruf:<strong> {{context.updated}}</strong></p>
      <p>
        Derzeit erfasste Anzahl an Produkten in allen Shops:
        <strong>{{context.products_total}}</strong>
      </p>
      <p>Aufgeschlüsselt nach Store:</p>
      <ul>
        {% for store in context.stores %}
        <li>
          {{store.store_name}}:
          <strong>{{store.products_store_total}} </strong> erfasste Produkte
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <br />

  <div class="card mt-4">
    <div class="card-header bg-warning">
      <h5>Gewinner & Verlierer</h5>
    </div>
    <div
      class="card-body"
      style="display: flex; justify-content: center; align-items: center"
    >
      <div class="row">
        <div class="col-md-6">
          <!-- CARD WINNER-->
          <div class="card" style="width: 18rem">
            <div
              class="mt-4"
              style="
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <img
                class="card-img-top"
                src="{{context.max_down_product.imageURL}}"
                alt="Card image cap"
                style="max-width: 100px"
              />
            </div>

            <div class="card-body">
              <h5 class="card-title">
                <i class="icon-thumbs-up"></i>&nbsp;Gewinner
              </h5>
              <p class="card-text">
                <em>{{context.max_down_product.product_name}}</em>
                <br />
                <small>{{context.max_down_product.store}}</small>
              </p>
              <p class="card-text">
                Preis gestern: {{context.max_down_product.price_yesterday}}€
              </p>
              <p class="card-text">
                Preis heute: {{context.max_down_product.price_today}}€
              </p>
              <p class="card-text">
                <strong>
                  Veränderung: {{context.max_down_product.price_change}}€ /
                  {{context.max_down_product.price_change_percentage}}%</strong
                >
              </p>
              <a
                href="{{context.max_down_product.original_link}}"
                class="btn btn-warning"
                target="_blank"
                >Zum Produkt im Online-Store</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <!-- CARD LOSER-->
          <div class="card" style="width: 18rem">
            <div
              class="mt-4"
              style="
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <img
                class="card-img-top"
                src="{{context.max_up_product.imageURL}}"
                alt="Card image cap"
                style="max-width: 100px"
              />
            </div>

            <div class="card-body">
              <h5 class="card-title">
                <i class="icon-thumbs-down"></i>&nbsp; Verlierer
              </h5>
              <p class="card-text">
                {{context.max_up_product.product_name}}
                <br />
                <small>{{context.max_up_product.store}}</small>
              </p>
              <p class="card-text">
                Preis gestern: {{context.max_up_product.price_yesterday}}€
              </p>
              <p class="card-text">
                Preis heute: {{context.max_up_product.price_today}}€
              </p>
              <p class="card-text">
                <strong>
                  Veränderung: {{context.max_up_product.price_change}}€ /
                  {{context.max_up_product.price_change_percentage}}%</strong
                >
              </p>
              <a
                href="{{context.max_up_product.original_link}}"
                class="btn btn-warning"
                target="_blank"
                >Zum Produkt im Online-Store</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>Details</h3>
  <h5>Vergleich der Preise von gestern und heute</h5>
  <p>Klick auf den Shop, der dich interessiert.</p>

  <div id="accordion">
    {% for store in context.stores %}

    <div class="card">
      <div
        class="card-header"
        id="heading{{store.store_name}}"
        style="background-color: #ffc107"
      >
        <h5 class="mb-0">
          <button
            class="btn btn-link text-dark"
            data-toggle="collapse"
            data-target="#collapse{{store.store_name}}"
            aria-expanded="false"
            aria-controls="collapse{{store.store_name}}"
          >
            <strong>{{store.store_name}}</strong>
          </button>
        </h5>
      </div>
      <div
        id="collapse{{store.store_name}}"
        class="collapse"
        aria-labelledby="heading{{store.store_name}}"
        data-parent="#accordion"
      >
        <div class="card-body">
          <h4>Biliger</h4>
          <ul>
            {% for product in store.changes_to_yesterday %} {% if
            product.direction == "down"%}

            <li>
              <a
                class="text-success"
                href="/tableview/?filterby=all&store={{store.store_name}}&selectedProduct={{product.product_name | replace('&', '%26') | replace('%', '%25')| replace('?', '%3F') | replace('#', '%23') }}&search="
                >{{product.product_name|truncate(120)}}
              </a>
              >> Gestern: {{product.price_yesterday}}€ ; Heute:
              {{product.price_today}}€ ( {{product.price_change}}€ ) [
              <a href="{{product.original_link}}" target="_blank"
                >Link zum OnlineShop</a
              >
              ]
            </li>

            {% endif %} {% endfor %}
          </ul>
          <h4>Teurer</h4>
          <ul>
            {% for product in store.changes_to_yesterday %} {% if
            product.direction == "up"%}
            <li>
              <a
                class="text-danger"
                href="/tableview/?filterby=all&store={{store.store_name}}&selectedProduct={{product.product_name | replace('&', '%26') | replace('%', '%25')| replace('?', '%3F') | replace('#', '%23') }}&search="
                >{{product.product_name|truncate(120)}}
              </a>
              >> Gestern: {{product.price_yesterday}}€ ; Heute:
              {{product.price_today}}€ ( {{product.price_change}}€ ) [
              <a href="{{product.original_link}}" target="_blank"
                >Link zum OnlineShop</a
              >
              ]
            </li>
            {% endif %} {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
