{% extends "base.html" %} {% block content %}

<div class="container">
  <h1 style="font-size: 4vw" ;>Datenschutzerklärung</h1>
  <p>
    Diese Webseite erhebt und verarbeitet keinerlei personenbezogene Daten ihrer
    Besucher.
    <br />
    Es werden keine Cookies oder andere Tracking-Technologien verwendet.
    <br />
    Es werden keine persönlichen Informationen gesammelt, gespeichert oder an
    Dritte weitergegeben.
    <br />
    <br />

    Da keinerlei personenbezogene Daten erfasst werden, gibt es keine
    Möglichkeit, diese Daten zu löschen oder anzufordern.

    <br />
    <br />
    Die Sicherheit Ihrer Daten hat höchste Priorität. Obwohl keine Daten
    gesammelt werden, setzen wir dennoch Sicherheitsmaßnahmen ein, um
    sicherzustellen, dass unsere Webseite geschützt ist. Wenn Sie Fragen oder
    Anliegen bezüglich des Datenschutzes auf unserer Website haben, kontaktieren
    Sie uns bitte (siehe Impressum). Bitte beachten Sie, dass diese
    Datenschutzerklärung für den Fall gilt, dass sich die Datenschutzpraktiken
    auf dieser Website in Zukunft ändern sollten. Bitte überprüfen Sie diese
    Seite regelmäßig auf Aktualisierungen.
  </p>
</div>

{% endblock content %}
