{% extends "base.html" %} {% block content %}

<div class="container">
  <div
    class="container px-4 py-5"
    style="
      background-color: #f7f7f7;
      border-style: solid;
      border-color: #cac9c9;
      border-width: 1px;
    "
  >
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img
          src="{{ url_for('static', filename='hero.png') }}"
          class="d-block mx-lg-auto img-fluid"
          alt="Bootstrap Themes"
          loading="lazy"
          style="max-width: 15vw"
        />
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">
          <strong>Check</strong><em> die </em><strong>Preise</strong>
        </h1>
        <p class="lead">
          Wie sehr gehen die Preise in deutschen Supermärkten nach oben oder
          unten? Wird Butter wirklich immer teurer? <br />
          Um sich ein Bild verschaffen zu können, durchsuchen Roboter die
          Online-Shops der bekanntesten Supermärkte Deutschlands und sammeln
          Preise für über 15.000 Produkte - und das täglich.
          <br />
          <br />
          <a href="{{ url_for('tableviewaux') }}">Erkunde selbst die Daten</a>
          oder <a href="{{ url_for('hilfe') }}">hilf mit</a>, noch mehr
          Supermärkte, Drogerien oder Baumärkte hinzuzufügen.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a
            class="btn btn-warning btn-lg px-4 me-md-2"
            href="{{url_for('tableviewaux')}}"
          >
            Zu den Daten
          </a>
        </div>
      </div>
    </div>
  </div>
  <br />

  <br />
  <br />

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <!-- Winner-->
        <div class="card" style="width: 18rem">
          <div
            class="mt-4"
            style="
              height: 200px;
              display: flex;
              justify-content: center;
              align-items: center;
            "
          >
            <img
              class="card-img-top"
              src="{{context_info.max_down_product.imageURL}}"
              alt="Card image cap"
              style="max-width: 100px"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <i class="icon-thumbs-up"></i>&nbsp;Gewinner des Tages
            </h5>
            <p class="card-text">
              <em>{{context_info.max_down_product.product_name}}</em>
              <br />
              <small>{{context_info.max_down_product.store}}</small>
            </p>
            <p class="card-text">
              Preis gestern: {{context_info.max_down_product.price_yesterday}}€
            </p>
            <p class="card-text">
              Preis heute: {{context_info.max_down_product.price_today}}€
            </p>
            <p class="card-text text-success">
              <strong>
                Veränderung: {{context_info.max_down_product.price_change}}€
                [{{context_info.max_down_product.price_change_percentage}}%]</strong
              >
              <br />
              <small>Preis pro kg/L/Stk.</small>
            </p>
            <a
              href="{{context_info.max_down_product.original_link}}"
              class="btn btn-warning"
              target="_blank"
              >Zum Produkt im Online-Store</a
            >
          </div>
        </div>

        <!-- Loser-->
        <div class="card mt-4" style="width: 18rem">
          <div
            class="mt-4"
            style="
              height: 200px;
              display: flex;
              justify-content: center;
              align-items: center;
            "
          >
            <img
              class="card-img-top"
              src="{{context_info.max_up_product.imageURL}}"
              alt="Card image cap"
              style="max-width: 100px"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <i class="icon-thumbs-down"></i>&nbsp;Verlierer des Tages
            </h5>
            <p class="card-text">
              <em>{{context_info.max_up_product.product_name}}</em>
              <br />
              <small>{{context_info.max_up_product.store}}</small>
            </p>
            <p class="card-text">
              Preis gestern: {{context_info.max_up_product.price_yesterday}}€
            </p>
            <p class="card-text">
              Preis heute: {{context_info.max_up_product.price_today}}€
            </p>
            <p class="card-text text-danger">
              <strong>
                Veränderung: +{{context_info.max_up_product.price_change}}€
                [{{context_info.max_up_product.price_change_percentage}}%]</strong
              >
              <br />
              <small>Preis pro kg/L/Stk.</small>
            </p>
            <a
              href="{{context_info.max_up_product.original_link}}"
              class="btn btn-warning"
              target="_blank"
              >Zum Produkt im Online-Store</a
            >
          </div>
        </div>
      </div>

      <!-- Was gibts neues-->
      <div class="col-md-8">
        <div class="mt-4">
          <h2>Was gibts neues?</h2>
          <p>
            Erfahre hier mehr über Updates und Neuerungen und über alles, was
            rund um diese Seite passiert.
          </p>
          <br />

          {% for post in context.content %}

          <div class="card">
            <h5 class="card-header">
              <i class="{{post.fontawesome_icon}} icon-2x"></i
              >&nbsp;&nbsp;{{post.category}} &nbsp;
              <small>{{post.date}}</small>
            </h5>
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>

              <p class="card-text">{{post.text_header}}</p>

              <p>
                <a
                  class="btn btn-warning"
                  data-toggle="collapse"
                  href="#collapseExample{{post.title}}"
                  role="button"
                  aria-expanded="false"
                  aria-controls="collapseExample"
                >
                  Lies mehr
                </a>
              </p>
              <div class="collapse" id="collapseExample{{post.title}}">
                <div class="card card-body">{{post.text_readmore|safe}}</div>
              </div>
            </div>
          </div>
          <br />

          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}
</div>
