{% extends "base.html" %} {% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <!-- Dropdown Stores-->
      <div class="dropdown">
        <h6 class="dropdown-header">Store</h6>
        <button
          class="btn btn-warning dropdown-toggle ml-4"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ context.store }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for store_item in context.stores %}
          <a
            class="dropdown-item linki"
            href="/tableview_new/?filterby=all&store={{store_item}}&selectedProduct=&search="
            >{{store_item}}</a
          >
          {% endfor %}
        </div>
      </div>

      <!-- Dropdown Categories-->
      <div class="dropdown mt-2">
        <h6 class="dropdown-header">Kategorie</h6>
        <button
          class="btn btn-secondary dropdown-toggle ml-4"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {% if context.filter == 'all' %} all {% else %} {{context.filter}}
          {%endif%}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a
            class="dropdown-item linki"
            href="/tableview/?filterby=all&store={{context.store}}&selectedProduct=&search="
            >all</a
          >
          <div class="dropdown-divider"></div>
          {% for category in context.categories %}
          <a
            class="dropdown-item linki"
            href="/tableview_new/?filterby={{category}}&store={{context.store}}&selectedProduct=&search="
            >{{category}}</a
          >
          {% endfor %}
        </div>
      </div>

      <!-- Spinner -->
      <div
        id="spinner"
        class="spinner-grow text-warning"
        role="status"
        style="display: none"
        ;
      >
        <span class="sr-only">Loading...</span>
      </div>

      <br />
      <!-- End Spalte1-->
    </div>
    <div class="col-md-6">
      {% if context.selectedProductImageURL %}
      <img
        src="{{context.selectedProductImageURL}}"
        class="img-fluid"
        style="max-width: 150px !important"
      />
      {% endif %}
    </div>
  </div>

  <canvas
    id="myChart"
    style="
      height: 100px !important;
      width: 55vw !important;
      background-color: rgb(247, 247, 247);
    "
  >
  </canvas>

  <br />

  <!-- TABLE VIEW MOBILE-->
  <div id="container_table_mobile">
    <table
      id="tableviewmobile"
      class="table table-striped table-bordered"
      style="width: 100%"
    >
      <thead>
        <tr>
          <th>Artikel</th>
        </tr>
      </thead>
      <tbody>
        {% for product in context.products %} {% if ('"' not in product.name)
        and (product.category ==context.filter or context.filter == 'all') %} {%
        if context.selectedProduct == product.name %}
        <tr style="background-color: #ffc107">
          <td>
            <a
              href="/tableview_new/?filterby={{context.filter}}&store={{context.store}}&selectedProduct={{product.name  | replace('%', '%25')| replace('?', '%3F') | replace('#', '%23')| replace('+', '%2B')| replace('&', '%26')}}&search={{context.search}}"
              class="text-dark"
              >{{product.name}}
            </a>
          </td>
        </tr>
        {% else %}
        <tr>
          <td>
            <a
              href="/tableview_new/?filterby={{context.filter}}&store={{context.store}}&selectedProduct={{product.name  | replace('%', '%25')| replace('?', '%3F') | replace('#', '%23')| replace('+', '%2B')| replace('&', '%26')}}&search={{context.search}}"
              >{{product.name}}
            </a>
          </td>
        </tr>
        {% endif %} {% endif %} {% endfor%}
      </tbody>
    </table>
  </div>

  <br />

  <!-- TABLE VIEW DESKTOP-->

  <div
    id="container_table"
    style="width: 100%; overflow-x: auto; white-space: nowrap"
  >
    <table
      id="tableview"
      class="table table-striped table-bordered wrap"
      style="width: 100%; font-size: small"
    >
      <thead>
        <tr>
          <th>Product</th>
          <th>Kategorie</th>
          <th>Keyword</th>
          <th>Link</th>
          {% for label in context.labelsTable %}
          <th scope="col"><small>{{label}}</small></th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for product in context.products %} {% if ('"' not in product.name)
        and (product.category ==context.filter or context.filter == 'all') %} {%
        if product.name == context.selectedProduct %}
        <tr style="background-color: #ffc107" ;>
          <!-- Title-->
          <td>
            <a
              href="/tableview_new/?filterby={{context.filter}}&store={{context.store}}&selectedProduct={{product.name  | replace('%', '%25')| replace('?', '%3F') | replace('#', '%23')| replace('+', '%2B')| replace('&', '%26')}}&search={{context.search}}"
              class="text-dark"
              >{{product.name}}
            </a>
          </td>
          <!-- Kategorie-->
          <td>{{product.category}}</td>
          <!-- Keyword-->
          <td>{{product.found_by_keyword}}</td>
          <!-- Link-->
          {% if (product.original_link != "") and (product.original_link != "#")
          %}
          <td>
            <a href="{{product.original_link}}" target="_blank">Link</a>
          </td>
          {% else %}
          <td>No link</td>
          {% endif %}
          <!-- DATA-->
          {% for key,value in product.dates.items() %}
          <td>{{value}}</td>
          {% endfor %}
        </tr>
        {% else %}
        <tr>
          <!-- Title-->
          <td>
            <a
              href="/tableview_new/?filterby={{context.filter}}&store={{context.store}}&selectedProduct={{product.name  | replace('%', '%25')| replace('?', '%3F') | replace('#', '%23')| replace('+', '%2B')| replace('&', '%26')}}&search={{context.search}}"
              >{{product.name}}
            </a>
          </td>
          <!-- Kategorie-->
          <td>{{product.category}}</td>
          <!-- Keyword-->
          <td>{{product.found_by_keyword}}</td>
          <!-- Link-->
          {% if (product.original_link != "") and (product.original_link != "#")
          %}
          <td>
            <a href="{{product.original_link}}" target="_blank">Link</a>
          </td>
          {% else %}
          <td>No link</td>
          {% endif %}
          <!-- DATA-->
          {% for key,value in product.dates.items() %}
          <td>{{value}}</td>
          {% endfor %}
        </tr>
        {% endif %} {% endif %} {% endfor%}
      </tbody>
    </table>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script type="text/javascript">
    const labels = "{{context.labels}}";
    const selectedProduct = "{{context.selectedProduct|safe}}";
    const selectedProductData = "{{context.selectedProductData}}";
    const storeUnit = "{{context.price_unit}}";
  </script>
  <script
    src="{{ url_for('static', filename='JS/chart.js') }}"
    type="text/javascript"
  ></script>
  <script src="{{ url_for('static', filename='JS/spinner.js') }}"></script>

  <!-- Fügen Sie die jQuery-Bibliothek hinzu -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Fügen Sie die DataTables JavaScript-Datei hinzu -->
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

  <script>
    // Initialisieren Sie DataTables auf Ihrer Tabelle
    $(document).ready(function () {
      new DataTable("#tableview", {
        order: [[3, "desc"]],
        columnDefs: [{ width: 200, targets: 0 }],
        pageLength: 50,
        oLanguage: {
          sSearch: "Suche in Kategorie: {{context.filter}}",
        },
        language: {
          lengthMenu: "Zeige _MENU_ Produkte pro Seite",
          info: "Zeige Seite _PAGE_ von _PAGES_",
          paginate: {
            previous: "Vorherige Seite",
            next: "Nächste Seite",
          },
        },
      });
    });
  </script>

  <script>
    // Initialisieren Sie DataTables auf Ihrer Tabelle
    $(document).ready(function () {
      new DataTable("#tableviewmobile", {
        pageLength: 50,
        oLanguage: {
          sSearch: "Suche in Kategorie: {{context.filter}}",
        },
        language: {
          lengthMenu: "Zeige _MENU_ Produkte pro Seite",
          info: "Zeige Seite _PAGE_ von _PAGES_",
          paginate: {
            previous: "Vorherige Seite",
            next: "Nächste Seite",
          },
        },
      });
    });
  </script>

  {% endblock content %}
</div>
